body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
  background-color: #8ecae6;

}

.App { 
  background-color: #219ebc;
  margin: 20px auto;
  width: 90%;
  max-width: 700px;
  color: black;
}
.navbar{
  padding: 10px 20px;
  text-align: center;
  background: #fb8500;
}

.navbar h1{
  margin: 10px 0;
}

.book-list li:hover{
  text-decoration: line-through;
  opacity: 0.7;
}
.book-list .title{
font-weight: 800;
color: black;
font-size: 1.2em;
}

.book-list .authot{
color: black;
font-size: 0.9em;
}
.empty{
  margin: 20px;
  text-align: center;
}
.book-list{

  margin: 20px;
}
.book-list ul{
  padding:0 ;
  list-style-type: none;
}
.book-list li{
  background-color: #ffb703;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
}

.book-list li:hover{
 opacity: 0.7;
 text-decoration: line-through;
}